<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

    <body class="container">

        <%- include("../partials/header"); %>

            <main class="card">
                <div class="card-body">
                    <h1>Sobre mim</h1>
                    <p>Em buscar de ser um developer fullstack javascript</p>
                </div>
            </main>

            <%- include("../partials/footer"); %>

    </body>

</html>